{% extends 'user/base.html' %}
{% load static %} 
{% block titile %}Home{% endblock titile %}
{% block content %}

<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
  <div class="container">
    <div class="intro-banner-wrap">
      <img
        src="{% static 'images/banners/Banner.jpg' %}"
        class="img-fluid rounded"
      />
    </div>
  </div>
  <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
  <div class="container">
    <header class="section-heading">
      <a href="{% url 'store' %}" class="btn btn-outline-primary float-right"
        >See all</a
      >
      <h3 class="section-title">Popular products </h3>
    </header>
    <!-- sect-heading -->

    <div class="row">
      {% for items in product %}
      <div class="col-md-3">
        <div class="card card-product-grid h-100">
          <a href="{{items.productimage_set.first.get_url}}" class="img-wrap">
            <img src="{{items.productimage_set.first.product_image.url}}" />
          </a>
          <figcaption class="info-wrap">
            <a href="{{items.productimage_set.first.get_url}}" class="title"
              >{{items.product_name}}</a
            >
            <div class="price mt-1">₹{{items.productsize_set.first.price}}</div>
            <!-- price-wrap.// -->
            <a href="{{items.productimage_set.first.get_url}}" class="btn btn-block btn-bg-primary">View Details</a>
          </figcaption>
        </div>
      </div>
      <!-- col.// -->
      {% endfor %}
    </div>
    <!-- row.// -->
  </div>
  <!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->
{% if in_offer %}
<section class="section-name padding-y-sm">
  <div class="container">
    <header class="section-heading">
      {% comment %} <a href="" class="btn btn-outline-primary float-right">See all</a> {% endcomment %}
      <h3 class="section-title">Offer products</h3>
    </header>
    <!-- sect-heading -->

    <div class="row">
      {% for product in offer_product %}
      <div class="col-md-3">
        <div class="card card-product-grid h-100">
          <a href="{{product.productimage_set.first.get_url}}" class="img-wrap">
            <img src="{{product.productimage_set.first.product_image.url}}" />
          </a>
          <figcaption class="info-wrap">
            <a href="{{product.productimage_set.first.get_url}}" class="title"
              >{{product.product_name}}</a
            >
            <div class="price mt-1">₹{{product.productsize_set.first.offer_price}}</div>
            <del class="price-old">₹{{product.productsize_set.first.price}}</del>
            <!-- price-wrap.// -->
            <a href="{{product.productimage_set.first.get_url}}" class="btn btn-block btn-bg-primary">View Details</a>
          </figcaption>
        </div>
      </div>
      <!-- col.// -->
      {% endfor %}
    </div>
    <!-- row.// -->
  </div>
  <!-- container // -->
</section>
{% endif %}

{% endblock content %}
